body {
  font-size: 18px!important;
}

.navbar .links {
  font-size: 1rem!important;
  font-weight: 500!important;
}

.hero h1 {
    color: #cae9ff!important;
}

.hero .description {
    color: #cae9ff!important;
}